.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;

  @media (max-width: $desktop-breakpoint) {
    font-size: 2rem;
    padding: 1.8rem;
  }
}

.button--fullwidth {
  @media (max-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.button--link {
  background: none;
}

.button--secondary {
  background: #aaaaaa;
}
